<!DOCTYPE html>
<html>
<head>
    <title>Smart Attendance System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Smart Attendance Tracker</h1>
        <div class="btn-group">
            <a href="/admin_login_page" class="btn">Admin Login</a>
            <a href="/student_login_page" class="btn">Student Login</a>
            <a href="/student_register_page" class="btn">New Student Register</a>
        </div>
    </div>
</body>
</html>